body {
  background-image: url('https://github.com/ahmad-saleem-23/sprint-1-workshop/blob/main/84806659-5E13-4520-96D9-D73A09F1B046.jpg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

#intro {
  text-align: center;
  color: rgb(44, 139, 57);
  font-size: 50px;
  font-family: 'Playfair Display', serif;;
  background-attachment: fixed;
  background-color: #000;
  opacity: 0.7;
  margin: 0 -100 0 -100 ;
}

.main {
  font-family: 'Kanit', sans-serif; 
  font-size: 20px;
  color: #fff;
}
ul {
  background-color: antiquewhite;
  opacity: 0.7;
}
.questions {
  color: chartreuse;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}