:root {
  --main-color: #000;
  --secondary-color: #fff;
  --background-image: url('https://github.com/ahmad-saleem-23/sprint-1-workshop/blob/main/john-towner-3Kv48NS4WUU-unsplash.jpg?raw=true');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: var(--background-image);
  background-size: auto ;
  background-repeat: no-repeat;
  background-position: center;
  text-align: justify;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}


#intro {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  background-color: #000;
  opacity: 0.7;
  margin-left: -100px;
  margin-right: -100px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: sticky; 
  top: 80px; 
  left: 0; 
  width: 100%; 
  height: 50px; 
  background-color: #867d7d; 
  color: #fff; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  z-index: 1;
}

.nav ul {
  list-style: none;
  margin: 0; 
  padding: 0; 
  display: flex; 
}

.nav li {
  margin-right: 30px; 
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav li a:hover {
  background-color: #fff;
  color: #000;
}

.about-me{
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(230, 215, 8, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin: 100px;
  text-align: justify;
}

.firs-project{
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(230, 215, 8, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin: 100px;
  text-align: justify;
}
.seconed-project{
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(230, 215, 8, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin: 100px;
  text-align: justify;  
}
.third-project{
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(230, 215, 8, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin: 100px;
  text-align: justify;
}


button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #fff;
  color: #000;
}
.end {
  margin-top: 50px;
  text-align: center;
}

footer {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  margin-bottom: 20px;
}